@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

html {
	/* font-size: 62.5%; */
}

body {
	/* line-height: 1.5; */
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: linear-gradient(to top left, #28b487, #7dd56f); */
	font-family: "Poppins", sans-serif;
}

img,
picture {
	max-width: 100%;
	display: block;
}

form {
	/* margin-bottom: 2rem; */
}

.title-app {
	margin-top: 3rem;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	grid-gap: 20px;
}

.card {
	display: grid;
	/* grid-template-rows: max-content 200px 1fr; */
}

.card img {
	object-fit: cover;
	width: 100%;
	min-height: 200px;
	/* height: 100%; */
}

.card__img {
	padding-bottom: 1rem;
}

.card__content ul {
	margin-top: 1rem;
}

.card__header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	/* padding-inline: auto; */
}

.card__header h3 {
	margin-bottom: 15px;
}

.card footer {
	margin-top: 0;
}
